.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/
.pytest_cache/
.coverage
htmlcov/
.prisma/
generated/
*.iml
firebase_credentials.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
